@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


html, body{
    padding:0;
    margin:0;
}

*{
    font-family: 'Oswald', sans-serif;
    transition: all 0.35s;
}

body {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz {
    background: #e3f6f5;
    width:30rem;
    padding: 4rem;
    text-align: center;
    border-radius: 5px;
}

h1{
    color: #57636e;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}

#question{
    font-size: 1.7rem;
    color: #5a6762;
}

.button{
    background-color: #34a3a3;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: 0.3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}

.button:hover{
    cursor: pointer;
    background: #57636e;
    transform: scale(1.1);
}

#progress{
    font-size: 20px;
}

.btn{
    background-color: black;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: 1rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    text-decoration: none;
    outline: 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

#current{
    font-size: 20px;
    text-align: right;
}